<div class="login-page">
    <div class="content">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="login-form">
            <div class="text-center">
                <h2 class="app-name">POP DASHBOARD</h2>
            </div>
            <div fxFlex  fxlayout="row" fxlayout.lt-md="column" class="loginFormField">
                <div fxFlexFill>
                    <mat-form-field class="w-100" appearance = "outline">
                        <input  matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                          {{ getErrorEmail() }}
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column" class="loginFormField">
                <div fxFlexFill>
                    <mat-form-field class="w-100" appearance = "outline">
                        <input type= "password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="!formGroup.controls['password'].valid && formGroup.controls['password'].touched">
                          {{ getErrorPassword() }}
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <!-- <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
                <div fxFlex>
                    <mat-checkbox color="primary">Remember Me</mat-checkbox>
                </div>
                <div fxFlex  fxLayoutAlign="end">
                    <a href="javascript:void(0)">Forget Password</a>
                </div>
            </div> -->
            <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
                <div fxFlexFill>
                    <button mat-raised-button id="loginButton" class="w-100" (click)="onLogin()">Login</button>
                </div>
            </div>
        </form>
            

        
    </div>
</div>


