
.mb-20 {
    margin-bottom: 20px;
}

.chartLabel{
    font-size:18px;
}

.dashboard-icons{
    background-color: #500000;
    color: white;
    
}

.dashboard-title{
    padding-bottom: 10px;
}

.langContentSingle{
    display: block !important;
}

table {
    width: 100%;
  }


