<!-- <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New task!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
</div>-->

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <mat-card>
            <mat-list>
                <mat-list-item>
                    <mat-icon class="dashboard-icons" mat-list-icon>school</mat-icon>
                    <p matLine>School Id: {{schoolId}}</p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon class="dashboard-icons" mat-list-icon>account_box</mat-icon>
                    <p matLine>Teacher Id: {{teacherId}}</p>
                </mat-list-item>
                
                <mat-list-item>
                    <mat-icon class="dashboard-icons" mat-list-icon>location_on</mat-icon>
                    <p matLine>District Id: {{districtId}}</p>
                </mat-list-item>      
            </mat-list>
        </mat-card>
    </div>
    <div fxFlex>
        <mat-card>
            <mat-list>
                <mat-list-item style="margin-bottom:20px">
                    <mat-icon class="dashboard-icons" mat-list-icon>library_books</mat-icon>
                    <p matLine>Cirriculum Area: {{cirriculumAreaCategory}}</p>
                </mat-list-item>
                
                <mat-list-item style="margin-bottom:10px">
                    <mat-form-field appearance="outline">
                        <mat-label>Select the category</mat-label>
                        <mat-select [(value)]="selectedCategory">
                          <mat-option [value]="option.value" *ngFor="let option of categories">{{ option.viewValue }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-list-item>
            </mat-list>
            <input mat-button color="primary" style="background-color: aqua;" type="file" style="display: inline-block;" (change)="incomingfile($event)" accept=".xlsx">
            <button mat-button style="background-color: #500000; color: white;" (click)="Upload()">Visualize</button>
        </mat-card>
    </div>
</div>

<!-- <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div> -->


<!-- 
<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex *ngFor="let item of places">
        <mat-card>
            <img mat-card-image [src]="item.imgSrc">
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{item.place}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{item.description}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>{{item.charge}}</button>
                <button mat-button>
                    <mat-icon class="nav-icon">location_on</mat-icon> {{item.location}}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div> -->


<mat-grid-list cols="2" rowHeight="2:1.25">
    <mat-grid-tile> 
        <div>
            <p class="chartLabel">Activity Structure<p>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="activityStructureFinal"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xActivtiyStructure"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical> 
        </div>    
          
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">Physical Group<p>
                <ngx-charts-pie-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="physicalGroupList"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [legendPosition]="legendPosition"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
          >
        </ngx-charts-pie-chart>
        </div>

    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">Mode Of Communication</p>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="modeFinal"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xModeOfCommunication"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">ESL Strategy</p>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="eslStrategyFinal"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xESLStrategy"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
        </div>
       
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">Language Content</p>
            <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="languageContentFinal"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xLanguageContent"
            [yAxisLabel]="yAxisLabel">
        </ngx-charts-bar-vertical>
            <!-- <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="languageContentFinal"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
      >
    </ngx-charts-pie-chart> -->
        </div>
       
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">Language Content(Combined)</p>
            
            <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="languageContentCombined"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
      >
    </ngx-charts-pie-chart>
        </div>
       
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">Language of Instruction(Student)</p>
            <ngx-charts-pie-chart
                [view]="view"
                [scheme]="colorScheme"
                [results]="SLofIFinal"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendPosition]="legendPosition"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
      >
        </ngx-charts-pie-chart>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div>
            <p class="chartLabel">Language of Instruction(Teacher)</p>
            <ngx-charts-pie-chart
            [view]="view"
            [scheme]="colorScheme"
            [results]="TLofIFinal"
            [gradient]="gradient"
            [legend]="showLegend"
            [legendPosition]="legendPosition"
            [labels]="showLabels"
            [doughnut]="isDoughnut"
    >
    </ngx-charts-pie-chart>  
        </div>   
    </mat-grid-tile>
  </mat-grid-list>
