<div class="jumbotron">
  <h1 class="display-4">POP Dashboard</h1>
  <p class="lead">This is a dashboard that can be used to visualize the statistics of a classroom video recording through uploading the encoded sheet</p>
  <hr class="my-4">
  <p>It has 7 categories of observations</p>
    <ul>
      <li>Activity Structure</li>
      <li>ESL Strategy</li>
      <li>Physical Group</li>
      <li>Language Content</li>
      <li>Language of Instruction(Teacher)</li>
      <li>Language of Instruction(Student)</li>
      <li>Communication Mode</li>
      <li>Curriculum Area</li>
    </ul>
  
</div>